In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.neural_network import MLPClassifier,MLPRegressor

from sklearn.tree import DecisionTreeRegressor as dtr
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
df=pd.read_csv('../forestfires.csv')
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [3]:
df.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [5]:
df['month'].unique()

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [6]:
df['day'].unique()

array(['fri', 'tue', 'sat', 'sun', 'mon', 'wed', 'thu'], dtype=object)

In [7]:
df.head(10)

   X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.0
5  8  6   aug  sun  92.3   85.3  488.0  14.7  22.2  29   5.4   0.0   0.0
6  8  6   aug  mon  92.3   88.9  495.6   8.5  24.1  27   3.1   0.0   0.0
7  8  6   aug  mon  91.5  145.4  608.2  10.7   8.0  86   2.2   0.0   0.0
8  8  6   sep  tue  91.0  129.5  692.6   7.0  13.1  63   5.4   0.0   0.0
9  7  5   sep  sat  92.5   88.0  698.6   7.1  22.8  40   4.0   0.0   0.0

##### Preprocessing

In [8]:
def ordinal_encoding(df,column,ordering):
    df=df.copy()
    df[column]=df[column].apply(lambda x: ordering.index(x))
    return df

In [9]:
def preprocessing(df,task):
    df=df.copy()
    df=ordinal_encoding(
    df,
    column='month',
    ordering=['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep',
       'oct', 'nov', 'dec']
    )
    df=ordinal_encoding(
        df,
        column='day',
        ordering=['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
    )
    if task=='Regression':
        Y=df['area']
    elif task=='Classification':
        Y=df['area'].apply(lambda x: 1 if x>0 else 0)

    X=df.drop('area',axis=1)
    X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.65,shuffle=True,random_state=1)

    scaler=MinMaxScaler()
    scaler.fit(X_train)

    X_train=pd.DataFrame(scaler.transform(X_train),columns=X.columns)
    X_test=pd.DataFrame(scaler.transform(X_test),columns=X.columns)

    return X_train,X_test,Y_train,Y_test

Splitting & Testing Models:

In [10]:
X_train,X_test,Y_train,Y_test=preprocessing(df,task='Regression')

In [11]:
X_train.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain
0,0.875,0.571429,0.636364,0.333333,0.863226,0.309103,0.710054,0.117647,0.488746,0.397590,0.364706,0.0
1,0.625,0.285714,0.636364,0.500000,0.987097,0.452060,0.673708,0.185383,0.581994,0.289157,0.364706,0.0
2,0.375,0.428571,0.181818,0.666667,0.941935,0.111457,0.082134,0.160428,0.482315,0.108434,0.423529,0.0
3,0.125,0.428571,0.636364,0.166667,0.947097,0.524403,0.767406,0.254902,0.578778,0.361446,0.364706,0.0
4,0.875,0.571429,0.181818,0.666667,0.941935,0.120111,0.086028,0.139037,0.488746,0.084337,0.529412,0.0

In [12]:
X_test.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain
0,0.125,0.000000,0.636364,0.166667,0.947097,0.524403,0.767406,0.254902,0.630225,0.469880,0.258824,0.0
1,0.625,0.428571,0.636364,0.833333,0.922581,0.331603,0.727283,0.158645,0.401929,0.506024,0.576471,0.0
2,0.375,0.571429,0.727273,0.500000,0.967742,0.276220,0.799268,0.319073,0.495177,0.301205,0.258824,0.0
3,0.250,0.285714,0.727273,0.666667,0.962581,0.484943,0.833137,0.247772,0.527331,0.385542,0.317647,0.0
4,0.750,0.285714,0.727273,0.333333,0.921290,0.283143,0.858862,0.110517,0.424437,0.481928,0.423529,0.0

In [13]:
Y_train.head()

171    2.69
161    1.90
69     0.00
272    3.09
91     0.00
Name: area, dtype: float64

In [14]:
Y_test.head()

270     0.52
90      0.00
133     0.00
221    35.88
224    37.71
Name: area, dtype: float64

Linear Regression

In [15]:
#The maximum val. of R^2 can be 1.0 that signifies that Linear Regression is working really well.
#Here R^2 score is 0.02051 which is really low signifying that LinearRegression is not doing well.
linear_reg_model=LinearRegression()
linear_reg_model.fit(X_train,Y_train)

print("Performance of Linear Regression R^2 metric {:.5f}".format(linear_reg_model.score(X_train,Y_train)))

Performance of Linear Regression R^2 metric 0.02051

MLP Regressor Model

In [16]:
# We can see the MLP Regressor Model Works better than Linear Regression,however its works horrible as well.
mlp_reg_model=MLPRegressor().fit(X_train,Y_train)
print("Performance of MLP Regressor Model R^2 metric {:.5f}".format(mlp_reg_model.score(X_train,Y_train)))

Performance of MLP Regressor Model R^2 metric 0.00708

Decision Tree Regressor

In [17]:
#R2 score negative not a good fit!
reg = dtr(random_state = 42)
reg.fit(X_train, Y_train)
Y_pred = reg.predict(X_test)
print("MSE =", mse(Y_pred, Y_test))
print("MAE =", mae(Y_pred, Y_test))
print("R2 Score =", r2_score(Y_pred, Y_test))

MSE = 11504.043293370165
MAE = 27.108121546961325
R2 Score = -7.943021164352407

Random Forest Regressor

In [18]:
#This works even worse than Decision Tree Regressor
regr = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
regr.fit(X_train, Y_train)
Y_pred = regr.predict(X_test)
print("MSE =", mse(Y_pred, Y_test))
print("MAE =", mae(Y_pred, Y_test))
print("R2 Score =", r2_score(Y_pred, Y_test))

MSE = 9899.866775885082
MAE = 22.476631733528194
R2 Score = -588.0029126709017

Logistic Regression

In [19]:
X_train,X_test,Y_train,Y_test=preprocessing(df,task='Classification')

In [20]:
Y_train

171    1
161    1
69     0
272    1
91     0
      ..
129    0
144    1
72     0
235    1
37     0
Name: area, Length: 336, dtype: int64

In [21]:
log_reg_model=LogisticRegression()
log_reg_model.fit(X_train,Y_train)

print('Logistic Regression Accuracy, {:.5f}%'.format(log_reg_model.score(X_test,Y_test)*100))

Logistic Regression Accuracy, 53.03867%

Neural Network Classifier

In [22]:
nn_classifier_model=MLPClassifier(activation='relu',hidden_layer_sizes=(16,16),n_iter_no_change=100,solver='adam')
nn_classifier_model.fit(X_train,Y_train)

MLPClassifier(hidden_layer_sizes=(16, 16), n_iter_no_change=100)

In [23]:
print('MLP Classifier Accuracy, {:.5f}%'.format(nn_classifier_model.score(X_test,Y_test)*100))

MLP Classifier Accuracy, 54.69613%

After running all these various models we see that MLP Classifier has the best accuracy out of the all.